@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&family=Roboto:wght@100;400&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$primary-color: #ff2f00;
$secondary-color: #01ffb7;
$blue: #4e4785;
$dark: #0e0a0a;

html {
  font-family: "Roboto", sans-serif;
  background-color: $primary-color;
}

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;

  overflow: hidden;
}

.logo-container {
  max-width: 500px;
  margin: 1em;
  #rename-logo {
    max-width: 100%;
    object-fit: contain;
  }
}

#header-title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 2em;
  color: white;
  h2 {
    font-family: "Martian Mono", monospace;
    text-align: center;
  }
}

#form-wrapper {
  margin: 0 auto;
  width: 500px;
  background-color: $dark;
  color: white;
  border-radius: 1em;
  padding: 1em;

  #output-text-wrapper {
    position: relative;
  }

  #output-text {
    color: #0e0a0a;
    background-color: $secondary-color;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.25rem;

    #copy-text-icon {
      position: absolute;
      right: 0.5rem;
      top: 0;
      transform: translateY(25%);
      opacity: 25%;
      cursor: pointer;

      &:hover {
        opacity: 100%;
      }
    }
  }

  #input-form {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 1em;

    div {
      display: flex;
      flex-direction: column;
    }

    input {
      padding: 0.5rem;
      border-radius: 0.25rem;
      outline: none;
      border: none;
      min-height: 1.5em;
      box-sizing: content-box;
      font-size: 1rem;
      transition: background-color 300ms;

      &:focus {
        outline: solid $blue 2px;
      }
    }
  }
}

.hidden {
  display: none;
}

#tooltip {
  position: absolute;
  inline-size: 350px;
  left: 29.5rem;
  top: 0;
  // background-color: rgba(0, 0, 0, 0.473);
  color: white;
  padding: 1em;
}

@media (max-width: 500px) {
  #form-wrapper {
    width: 95%;
    #input-form {
      grid-template-columns: 1fr;
    }
  }
  h2 {
    font-size: 1.2em;
  }
}

.missing-field {
  transition: background-color 300ms;
  background-color: #d0342c;
}

#github-logo {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 3rem;
  cursor: pointer;
}

#github-logo:hover #octocat {
  animation: wiggle 1500ms linear 1 normal forwards;
}

@keyframes wiggle {
  0% {
    d: path(
      "M149.623747,0C66.88568,0,0,67.378499,0,150.734889C0,217.366099,42.855961,273.768028,102.308537,293.730439C109.741641,295.231142,112.464355,290.487083,112.464355,286.496438C112.464355,283.001945,112.219342,271.023885,112.219342,258.54355C70.597638,267.529391,61.930278,240.574929,61.930278,240.574929C55.241404,223.105522,45.330599,218.615664,45.330599,218.615664C31.707837,209.381747,46.322905,209.381747,46.322905,209.381747C61.434125,210.380174,69.363381,224.8543,69.363381,224.8543C82.738067,247.811992,104.290086,241.325281,112.960508,237.331573C114.197827,227.598443,118.163987,220.860593,122.37516,217.118024C89.178865,213.62353,54.252161,200.647043,54.252161,142.747474C54.252161,126.276494,60.193743,112.800795,69.608395,102.320375C68.122999,98.577806,62.919521,83.10219,71.096853,62.389427C71.096853,62.389427,83.730373,58.39572,112.216279,77.86198C124.412109,74.562465,136.989471,72.883977,149.623747,72.869846C162.257267,72.869846,175.1358,74.618624,187.028153,77.86198C215.517122,58.39572,228.150641,62.389427,228.150641,62.389427C236.327974,83.10219,231.121432,98.577806,229.636037,102.320375C239.298765,112.800795,244.995334,126.276494,244.995334,142.747474C244.995334,200.647043,210.068629,213.372392,176.624258,217.118024C182.075813,221.85902,186.780076,230.841799,186.780076,245.06785C186.780076,265.281399,186.535063,281.504304,186.535063,286.493376C186.535063,290.487083,189.26084,295.231142,196.690881,293.733502C256.143458,273.764965,298.999418,217.366099,298.999418,150.734889C299.244432,67.378499,232.113738,0,149.623747,0Z"
    );
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  33.333333% {
    d: path(
      "M149.623747,0C66.88568,0,0,67.378499,0,150.734889C0,217.366099,42.855961,273.768028,102.308537,293.730439C109.741641,295.231142,112.464355,290.487083,112.464355,286.496438C112.464355,283.001945,112.219342,271.023885,112.219342,258.54355C84.820189,246.393094,87.969428,240.432003,81.371091,233.079571C69.496804,218.778917,58.897461,230.593076,52.168232,229.24723C39.40245,225.999142,50.439405,220.666839,53.2555,219.102342C66.644724,212.666727,85.004612,212.738857,94.230168,222.540635C106.436684,236.443447,106.906069,233.926047,112.960508,237.331573C114.197827,227.598443,118.163987,220.860593,122.37516,217.118024C89.178865,213.62353,54.252161,200.647043,54.252161,142.747474C54.252161,126.276494,60.193743,112.800795,69.608395,102.320375C68.122999,98.577806,67.687239,81.954672,75.864571,61.241909C75.864571,61.241909,83.730373,58.39572,112.216279,77.86198C124.412109,74.562465,136.989471,72.883977,149.623747,72.869846C162.257267,72.869846,175.1358,74.618624,187.028153,77.86198C215.517122,58.39572,221.900535,60.98298,221.900535,60.98298C230.077868,81.695743,231.121432,98.577806,229.636037,102.320375C239.298765,112.800795,244.995334,126.276494,244.995334,142.747474C244.995334,200.647043,210.068629,213.372392,176.624258,217.118024C182.075813,221.85902,186.780076,230.841799,186.780076,245.06785C186.780076,265.281399,186.535063,281.504304,186.535063,286.493376C186.535063,290.487083,189.26084,295.231142,196.690881,293.733502C256.143458,273.764965,298.999418,217.366099,298.999418,150.734889C299.244432,67.378499,232.113738,0,149.623747,0Z"
    );
  }

  50% {
    d: path(
      "M149.623747,0C66.88568,0,0,67.378499,0,150.734889C0,217.366099,42.855961,273.768028,102.308537,293.730439C109.741641,295.231142,112.464355,290.487083,112.464355,286.496438C112.464355,283.001945,112.219342,271.023885,112.219342,258.54355C86.520043,243.866921,91.081581,240.414921,83.694623,232.183739C71.200584,218.261809,60.518949,232.024595,52.985454,230.517896C40.322097,227.985224,50.931402,222.015613,54.084072,220.26413C67.267486,212.940012,86.874024,211.29084,97.202203,222.26411C109.269101,235.084699,107.218727,233.041703,112.960508,237.331573C114.197827,227.598443,118.163987,220.860593,122.37516,217.118024C89.178865,213.62353,54.252161,200.647043,54.252161,142.747474C54.252161,126.276494,60.193743,112.800795,69.608395,102.320375C68.122999,98.577806,62.919521,83.10219,71.096853,62.389427C71.096853,62.389427,83.730373,58.39572,112.216279,77.86198C124.412109,74.562465,136.989471,72.883977,149.623747,72.869846C162.257267,72.869846,175.1358,74.618624,187.028153,77.86198C215.517122,58.39572,228.150641,62.389427,228.150641,62.389427C236.327974,83.10219,231.121432,98.577806,229.636037,102.320375C239.298765,112.800795,244.995334,126.276494,244.995334,142.747474C244.995334,200.647043,210.068629,213.372392,176.624258,217.118024C182.075813,221.85902,186.780076,230.841799,186.780076,245.06785C186.780076,265.281399,186.535063,281.504304,186.535063,286.493376C186.535063,290.487083,189.26084,295.231142,196.690881,293.733502C256.143458,273.764965,298.999418,217.366099,298.999418,150.734889C299.244432,67.378499,232.113738,0,149.623747,0Z"
    );
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  100% {
    d: path(
      "M149.623747,0C66.88568,0,0,67.378499,0,150.734889C0,217.366099,42.855961,273.768028,102.308537,293.730439C109.741641,295.231142,112.464355,290.487083,112.464355,286.496438C112.464355,283.001945,112.219342,271.023885,112.219342,258.54355C70.597638,267.529391,61.930278,240.574929,61.930278,240.574929C55.241404,223.105522,45.330599,218.615664,45.330599,218.615664C31.707837,209.381747,46.322905,209.381747,46.322905,209.381747C61.434125,210.380174,69.363381,224.8543,69.363381,224.8543C82.738067,247.811992,104.290086,241.325281,112.960508,237.331573C114.197827,227.598443,118.163987,220.860593,122.37516,217.118024C89.178865,213.62353,54.252161,200.647043,54.252161,142.747474C54.252161,126.276494,60.193743,112.800795,69.608395,102.320375C68.122999,98.577806,62.919521,83.10219,71.096853,62.389427C71.096853,62.389427,83.730373,58.39572,112.216279,77.86198C124.412109,74.562465,136.989471,72.883977,149.623747,72.869846C162.257267,72.869846,175.1358,74.618624,187.028153,77.86198C215.517122,58.39572,228.150641,62.389427,228.150641,62.389427C236.327974,83.10219,231.121432,98.577806,229.636037,102.320375C239.298765,112.800795,244.995334,126.276494,244.995334,142.747474C244.995334,200.647043,210.068629,213.372392,176.624258,217.118024C182.075813,221.85902,186.780076,230.841799,186.780076,245.06785C186.780076,265.281399,186.535063,281.504304,186.535063,286.493376C186.535063,290.487083,189.26084,295.231142,196.690881,293.733502C256.143458,273.764965,298.999418,217.366099,298.999418,150.734889C299.244432,67.378499,232.113738,0,149.623747,0Z"
    );
  }
}
